doctype
html
    head
        title MultiVision App
        link(href="/favicon.ico" rel="application icon" type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/AngularJS-Toaster/toaster.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='MultiVisApp')
        include scripts
        block main-content